<div class="place text-center">
  {{fa-icon "home" class="justify-content-center" size="4x"}}

  <h1> {{place.name}} </h1>

  <div class="place__nav text-center">
    {{fa-icon "chevron-left" class="place__nav-arrow" click=(action "previousMonth")}}
    <div class="month"> {{readableMonth}} </div>
    {{fa-icon "chevron-right" class="place__nav-arrow" click=(action "nextMonth")}}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Inhabitants</th>
        <th scope="col">Rent</th>
        {{#each billsForMonth as |bill|}}
          <th scope="col">{{bill.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each place.users as |user|}}
        <tr>
          <th>{{user.username}}</th>
          {{rent-cell rent=(get-user-rent user.rents month)
                      change=(action "changeStatus")}}

          <td>1zł</td>
        </tr>
      {{/each}}
      <tr>
        <th scope="row">{{place.users.length}}</th>
        <td>{{place.rent}}zł</td>
      </tr>
    </tbody>
  </table>

  {{#if currentUser.user.payer}}
    {{#bs-button onClick=(action "generateRent") type="outline-primary" }}
      Generate rent!
    {{/bs-button}}

    {{#bs-button onClick=(action "openBillModal") type="outline-warning"}}
      Create bill
    {{/bs-button}}
  {{/if}}
</div>

{{#if billModalOpen}}
  {{bill-modal newBill=newBill
               createBill=(action "createBill")}}
{{/if}}
