<div class="place text-center">
  {{fa-icon 'home' class="justify-content-center" size="4x"}}

  <h1>
    {{place.name}}
  </h1>

  {{link-to 'Back' 'auth.places'}}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Członkowie</th>
        <th scope="col">Czynsz</th>
        <th scope="col">Dług</th>
      </tr>
    </thead>
    <tbody>
      {{#each place.users as |user|}}
        <tr>
          <th>{{user.username}}</th>

          {{!-- {{prepare-rent-cell rent=(get-month-rent user.rents month)
                              change=(action 'changeStatus')}} --}}

          <td></td>
        </tr>
      {{/each}}
      <tr>
        <th scope="row">{{place.users.length}}</th>
        <td>2500zł</td>
        <td>+/-</td>
      </tr>
    </tbody>
  </table>

  {{#bs-button type="outline-primary" onClick=(action "generateRent")}}
    Generuj czynsz!
  {{/bs-button}}
</div>
