<div class="place text-center">
  {{fa-icon "home" class="justify-content-center" size="4x"}}

  <h1>
    {{place.name}}
  </h1>

  <div class="place__nav text-center">
    {{fa-icon "chevron-left" click=(action "previousMonth")}}
    <div class="month"> {{readableMonth}} </div>
    {{fa-icon "chevron-right" click=(action "nextMonth")}}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Inhabitants</th>
        <th scope="col">Rent</th>
      </tr>
    </thead>
    <tbody>
      {{#each place.users as |user|}}
        <tr>
          <th>{{user.username}}</th>
          {{rent-cell rent=(get-user-rent user.rents month)
                      change=(action "changeStatus")}}
        </tr>
      {{/each}}
      <tr>
        <th scope="row">{{place.users.length}}</th>
        <td>{{place.rent}}zł</td>
      </tr>
    </tbody>
  </table>

  {{#if currentUser.user.payer}}
    {{#bs-button type="outline-primary" onClick=(action "generateRent")}}
      Generate rent!
    {{/bs-button}}
  {{/if}}
</div>
