<div class="place text-center">
  <FaIcon @icon="home" class="justify-content-center" @size="4x" />

  <h1> {{this.place.name}} </h1>

  <div class="place__nav text-center">
    <FaIcon @icon="chevron-left" class="place__nav-arrow" @click={{action "previousMonth"}} />
    <div class="month"> {{this.readableMonth}} </div>
    <FaIcon @icon="chevron-right" class="place__nav-arrow" @click={{action "nextMonth"}} />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Inhabitants</th>
        <th scope="col">Rent</th>
        {{#each this.billsForMonth as |bill|}}
          <th scope="col">{{bill.name}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this.place.users as |user|}}
        <tr>
          <th>{{user.username}}</th>
          <PaymentCell @payment={{user-rent-payment user.rents this.month}}
                       @change={{action "changeStatus"}} />

          {{#each this.billsForMonth as |bill|}}
            <PaymentCell @payment={{user-bill-payment bill.payments user}}
                         @change={{action "changeStatus"}} />
          {{/each}}
        </tr>
      {{/each}}
      <tr>
        <th scope="row">{{this.place.users.length}}</th>
        <td>{{this.place.rent}}zł</td>
        {{#each this.billsForMonth as |bill|}}
          <td scope="col">{{bill.amount}}zł</td>
        {{/each}}
      </tr>
    </tbody>
  </table>

  {{#if this.currentUser.user.payer}}
    <BsButton @onClick={{action "generateRent"}} @type="outline-primary">
      Generate rent!
    </BsButton>
    <BsButton @onClick={{action "openBillModal"}} @type="outline-warning">
      Create Bill
    </BsButton>
  {{/if}}
</div>

{{#if this.billModalOpen}}
  <BillModal @newBill={{this.newBill}}
             @createNewBill={{action "createBill"}} />
{{/if}}
