{{#bs-navbar as |navbar|}}
  <div class="container">
    {{navbar.toggle}}
    {{svg-jar "coin-stack-2" class="logo"}}
    <div class="navbar-brand">
      <strong>Hajs</strong>App
      <span class="app-flag">alpha</span>
    </div>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#if session.isAuthenticated}}
          {{#nav.item}}
            {{#nav.link-to "auth"}}Dashboard{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "auth.places.place" currentUser.placeId}}
              Mieszkanie
            {{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "auth.places"}}Places{{/nav.link-to}}
          {{/nav.item}}
        {{else}}
          {{#nav.item}}
            {{#nav.link-to "login"}}Login{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "registration"}}Registration{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}
      {{/navbar.nav}}
      {{#if session.isAuthenticated}}
        {{#navbar.nav class="ml-auto" as |nav|}}
          {{#nav.dropdown as |dd|}}
            {{#dd.toggle}}
              {{fa-icon 'child'}}
              {{currentUser.username}}
            {{/dd.toggle}}
            {{#dd.menu as |ddm|}}
              {{#ddm.item}}
                {{#ddm.link-to "auth.settings"}}
                  {{fa-icon 'cog'}}
                  Settings
                {{/ddm.link-to}}
              {{/ddm.item}}
              {{#ddm.item}}
                <a {{action "logout"}} href="#" class="dropdown-item">
                  {{fa-icon 'sign-out-alt'}}
                  Logout
                </a>
              {{/ddm.item}}
            {{/dd.menu}}
          {{/nav.dropdown}}
        {{/navbar.nav}}
      {{/if}}
    {{/navbar.content}}
  </div>
{{/bs-navbar}}

<div class="container content">
  {{outlet}}
</div>

{{notification-container position="top-right"}}
