{{#bs-navbar as |navbar|}}
  <div class="container">
    {{navbar.toggle}}
    {{svg-jar "coin-stack-2" class="logo"}}
    <a class="navbar-brand" href="/">
      <strong>Hajs</strong>App
    </a>
    {{#navbar.content}}
      {{#navbar.nav as |nav|}}
        {{#if session.isAuthenticated}}
          {{#nav.item}}
            {{#nav.link-to "auth.places"}}Places{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            [{{currentUser.user.email}}]
          {{/nav.item}}
          {{#nav.item}}
            <a {{action "logout"}} href="#" class="nav-link">Logout</a>
          {{/nav.item}}
        {{else}}
          {{#nav.item}}
            {{#nav.link-to "login"}}Login{{/nav.link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#nav.link-to "registration"}}Registration{{/nav.link-to}}
          {{/nav.item}}
        {{/if}}
      {{/navbar.nav}}
    {{/navbar.content}}
  </div>
{{/bs-navbar}}

<div class="container">
  {{outlet}}
</div>

{{notification-container position="top-right"}}
